*.pyc
todo/todo.org*
*~
error-*.png
eyegrade-errors.log
doc/user-manual/index.html
build/
dist/
notebooks/
venv*/
.python-version
.vscode
*.po.new
installers/windows/certs/*
tmp/
MANIFEST
.eggs
*.egg-info
.mypy_cache
