## Sample configuration file. Save it as $HOME/.eyegrade.cfg
## In Windows, save at C:\Documents and Settings\<user-name>\.eyegrade.cfg
[default]

## Default camera device to use (int); -1 for automatic selection.
camera-dev: -1

## If error-logging is set to 'yes', exceptions in code are logged
# error-logging: yes

## Filename pattern for saving captures. Use {student-id} or {seq-number}
## in places you wish those pieces of data to appear. Example:
## exam-{student-id}-{seq-number}.png
save-filename-pattern: exam-{student-id}-{seq-number}.png

## Format of the output CSV file with results:
## 'excel' (separator: comma) or 'tabs' (separator: tabulator; default option)
# csv-dialect: tabs

## Default charset used to load data from files and reading from
## files.  The special value 'system-default' makes eyegrade take the
## default from the configuration of the environment. The default is
## 'utf-8'.
default-charset: utf-8
